mixin latest()
	+b.SECTION.latest
		+e.UL.container
			+b.LI.latest-item
				+e.DIV.tile.column
					h3 Heading
					p.text-grey Lorem ipsum dolor sit.
				+e.DIV.thumb.column
					+e.A.link(href="index.html")
						+e.IMG.img.img-responsive(src="img/featured/tile01.jpg")
			+b.LI.latest-item
				+e.DIV.tile.column
					h3 Heading
					p.text-grey Lorem ipsum dolor sit.
				+e.DIV.thumb.column
					+e.A.link(href="index.html")
						+e.IMG.img.img-responsive(src="img/featured/tile01.jpg")
			+b.LI.latest-item
				+e.DIV.tile.column
					h3 Heading
					p.text-grey Lorem ipsum dolor sit.
				+e.DIV.thumb.column
					+e.A.link(href="index.html")
						+e.IMG.img.img-responsive(src="img/featured/tile01.jpg")
			+b.LI.latest-item
				+e.DIV.tile.column
					h3 Heading
					p.text-grey Lorem ipsum dolor sit.
				+e.DIV.thumb.column
					+e.A.link(href="index.html")
						+e.IMG.img.img-responsive(src="img/featured/tile01.jpg")
			+b.LI.latest-item
				+e.DIV.tile.column
					h3 Heading
					p.text-grey Lorem ipsum dolor sit.
				+e.DIV.thumb.column
					+e.A.link(href="index.html")
						+e.IMG.img.img-responsive(src="img/featured/tile01.jpg")
			+b.LI.latest-item
				+e.DIV.tile.column
					h3 Heading
					p.text-grey Lorem ipsum dolor sit.
				+e.DIV.thumb.column
					+e.A.link(href="index.html")
						+e.IMG.img.img-responsive(src="img/featured/tile01.jpg")

