mixin header(data)
  +b.HEADER.header
    +e.DIV.container
      +e.DIV.logo
        +b.A.logo(href='##')
          +e.IMG.img(src="img/logo/workspace-logo.png")
      +e.DIV.avatar
        +e.A(href="#")
          +e.IMG.img(src="img/logo/avatar.jpg")
      //- +e.DIV.nav
      //-   +b.NAV.header-nav
      //-     each item in data.menu
      //-       +e.DIV.item
      //-         +e.A.link(href=item.href)= item.text

