mixin featured()
	+b.SECTION.featured
		+e.DIV.container
			+b.DIV.featured-item
				+e.DIV.tile.column
					h3 Heading
					p.text-grey Lorem ipsum dolor sit.
				+e.DIV.thumb.column
					+e.A.link(href="index.html")
						+e.IMG.img(src="img/featured/tile01.jpg")
			+b.DIV.featured-item
				+e.DIV.tile.column
					h3 Heading
					p.text-grey Lorem ipsum dolor sit.
				+e.DIV.thumb.column
					+e.link(href="index.html")
						+e.IMG.img(src="img/featured/tile02.jpg")
			+b.DIV.featured-item
				+e.DIV.tile.column
					h3 Heading
					p.text-grey Lorem ipsum dolor sit.
				+e.DIV.thumb.column
					+e.A.link(href="index.html")
						+e.IMG.img(src="img/featured/tile03.jpg")
			+b.DIV.featured-item
				+e.DIV.tile.column
					h3 Heading
					p.text-grey Lorem ipsum dolor sit.
				+e.DIV.thumb.column
					+e.A.link(href="index.html")
						+e.IMG.img(src="img/featured/tile04.jpg")

